<% provide(:title, "上传") %>

<br/><br/><br/><br/>

<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= form_tag({action: :do_upload}, multipart: true) do %>
      <%= file_field_tag 'logfile' %>
      </br></br>
      <%= submit_tag '运行', class: "btn btn-primary" %>
    <%end %>

  </div>
</div>